.wrapper {
    display: grid;
    height: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 20% 70% 10%;
}

.title {
    text-align: center;
    line-height: 3vmax;
}

.middleWrapper{
    width: 100%;
    height: 100%;
    position: relative;
}
