.wrapper {
    height: 100%;
    width: 100%;
    position: absolute;
}

.formWrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10% 60% 10% 25%;
    height: 100%;
    gap:5px;
}

.extendedInfo {
    margin: 15px;
    font-size: .8em;
}