.button {
    margin-top: 5px;
    cursor: pointer;
    padding: 5px;
    text-overflow: ellipsis;
    overflow-x: hidden;
    white-space: nowrap;
    font-family: 'Scada', sans-serif;
    margin-top: 5px;
    cursor: pointer;
    outline-offset: 1px;
    transition: .3s ease all;
}

.button_large {

}

.button_medium {
    font-size: calc(10px + .4vmax);
    min-width: calc( 35px + 8vmax);
    max-width: 250px;
    min-height: 2.2vmax;
    border: 1px solid #66628f;
    color: #66628f;
}
.button_large:hover,
.button_small:hover,
.button_medium:hover {
    transition: .3s ease all;
    background-color: #7673949a;
    color: #5347D3;
}

.button_small {
    min-width: 60px;
    min-height: 100%;
    font-size: .5em;
    color: rgb(95, 83, 83);
    border: 1px solid white;
    overflow: hidden;
}

.button_active {
    background-color: indigo;
    color: white;
}